@use "./abstracts/navbar.scss";
@use "./templates/template.scss";
@use "./abstracts/icons.scss";
@use "./abstracts/education.scss";
@use "./abstracts/footer.scss";
@use "./abstracts/projects.scss";
@use "./abstracts/experience.scss";
@use "./abstracts/page404";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  margin: 0;
}
